{% extends 'base.html' %}
{% block test %}
{% endblock %}
{% block usernamedp %}
{% if current_user.is_authenticated %}
  <h2 class="wow zoomInDown" data-wow-duration="3s">HoHo {{current_user.username}}!</h2>
{% else %}
  <h2 class="wow zoomInDown" data-wow-duration="3s">HoHo Holiday Sale Started! Login's on the right -></h2>
{% endif %}
{% endblock %}
{% block loginout %}
    {% if current_user.is_authenticated %}
        <a href="/logout">
            <img title="" alt="" src="static/img/login.svg" />
            <p>Logout</p>
		</a>
    {% else %}
        <a href="/login">
            <img title="" alt="" src="static/img/login.svg" />
            <p>Login</p>
        </a>
    {% endif %}
{% endblock %}
{% block items %}
        <!--OVERVIEW ITEMS-->
        <div class="row" id="products">
		{% for item in items %}
		    <div class="col-md-6 col-lg-4">
                <img src="static/img/{{ item['img'] }}" alt="">
                <h4 style="color:red">{{ item['product-name'] }}</h4>
                <p class="price">US <span class="highlight" style="color: cyan;">${{ item['price'] }}</span> / piece</p>
                <p style="color: lightgray">{{ item['desc'] }}</p>
            </div>
		{% endfor %}
        </div><!--OVERVIEW ITEMS END-->
{% endblock %}
